<div id="resume" class="resume_zh">
  
  <section class="banner">
    <a href="/attachments/resume_zh.pdf" target="_blank">
      <div class="text-center">
        <h1 class="my-xs-0" style="line-height: 40vh">履歷下載</h1>
      </div>
    </a>
  </section>

  <section class="py-xs-20 py-sm-40">
    <div class="container">
      <!-- expertise & skills -->
      <div class="row">
        <div class="px-xs-15">
          <h2 class="pb-xs-5">技能專長</h2>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h3>技 能</h3>
            <ul>
              <li>網路廣告操作&優化</li>
              <li>搜尋引擎最佳化</li>
              <li>社群行銷</li>
              <li>內容行銷</li>
              <li>網站流量分析</li>
              <li>網頁應用程式開發<b>(累積實務經驗中)</b></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h3>工 具</h3>
            <ul>
              <li>HTML / CSS</li>
              <li>Ruby / Rails</li>
              <li>JavaScript</li>
              <li>Google Analytics</li>
              <li>Google AdWords</li>
              <li>Microsoft Office</li>
              <li>Adobe Photoshop</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h3>證 照</h3>
            <ul>
              <li>多益 950</li>
              <li>Google Analytics</li>
              <li>Google AdWords</li>
              <li>Microsoft Bing ads</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h3>語 言</h3>
            <ul>
              <li>中文</li>
              <li>英文</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- work experience -->
      <div class="row">
        <div class="px-xs-15">
          <h2 class="pb-xs-5">工作經驗</h2>
        </div>
        <div class="px-xs-15 work-list">
          <!-- work item -->
          <div class="work-item">
            <h3>行銷經理</h3>
            <h4>
              <a href="https://nourii.co" target="_blank"><b>Nourii</b></a>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-xs-5"></i>3/2016 - 在職中
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-sm-5"></i>3/2016 - 在職中
              </div>
            </h4>
            <ol>
              <li>規劃品牌官網前後端建置</li>
              <p class="mb-xs-5"><b><b>#=></b></b> 專案於規劃完時間提前約一個月完成</p>
              <ul>
                <li>前端：規劃版面架構、動線、頁面內容安排，並使用CSS參與部分頁面樣式修改</li>
                <li>後端：規劃管理員使用功能、邏輯、資料庫欄位</li>
              </ul>
              <li>網頁設計與切版</li>
              <p class="mb-xs-5"><b>#=></b> 50+頁面設計與切版</p>
              <ul>
                <li>建立品牌站、購物站產品、部落格等頁面以及第三方電商平台商品內容頁</li>
                <li>使用HTML、CSS、JavaScript、框架與程式庫如Bootstrap、jQuery</li>
              </ul>
              <li>搜尋引擎最佳化 </li>
              <p class="mb-xs-5"><b>#=></b> 5+關鍵字進入google搜尋結果第一頁（開站6個月）</p>
              <ul>
                <li>分析關鍵字並分配置入meta與頁面內容</li>
                <li>規劃站內網域間以及外站反向連結</li>
                <li>流量分析</li>
              </ul>
              <li>社群、部落格、聯盟行銷</li>
              <p class="mb-xs-5"><b>#=></b> 開站首月流量與業績即達標</p>
              <ul>
                <li>規劃社群媒體內容、追蹤流量</li>
                <li>制定合作部落客撰寫文章主題、部署關鍵字與反向連結、洽談轉單抽成</li>
              </ul>
              <li>統籌產品行銷，包含規劃情境式圖片素材、視覺與平面設計、產品文案、包裝設計</li>
            </ol>
          </div>
          <!-- work item -->
          <div class="work-item">
            <h3>資深媒體行銷專員</h3>
            <h4>
              <a href="http://www.payeasy.com.tw" target="_blank"><b>PayEasy</b></a>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>台北市
                <i class="fa fa-calendar px-xs-5"></i>6/2014 – 3/2016
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>台北市
                <i class="fa fa-calendar px-sm-5"></i>6/2014 – 3/2016
              </div>
            </h4>
            <ol>
              <li>搜尋引擎行銷</li>
              <p class="mb-xs-5"><b>#=></b> 任職一年內業績成長 49%、ROI 成長 78%、費用減少 21%</p>
              <ul>
                <li>整合規劃網路廣告資源,包含關鍵字廣告(keyword)、個人化再行銷廣告(retargeting)、及時競價廣告(RTB)</li>
                <li>依消費族群別造訪行為資訊投放再行銷與即時競價廣告,降低成本</li>
                <li>關鍵字帳戶重整(共計 2,110 廣告活動)、成果分析與最佳化</li>
                <li>與 6 業務處緊密合作,視活動性質規劃執行各式線上廣告活動</li>
              </ul>
              <li>聯盟行銷&搜尋引擎最佳化</li>
              <p class="mb-xs-5"><b>#=></b> 投資回報率 27.56</p>
              <ul>
                <li>評估並與多方比價平台合作以導入流量(佔有機流量約 8.7%)</li>
                <li>規劃電視置入、戶外及電視廣告專案,觸發關鍵字搜尋進而增加網站流量</li>
              </ul>
              <li>流量分析</li>
              <p class="mb-xs-5"><b>#=></b> 流量最高成長 294%</p>
              <ul>
                <li>站內版位資源規劃分配、流量監控、A/B 測試優化版位素材</li>
                <li>使用工具如 Google Analytics 監控全站流量,分析產品類別訪客造訪數據以優化網路廣告投放</li>
              </ul>
              <li>專案導入</li>
              <p class="mb-xs-5"><b>#=></b> 工作流程簡化 50%+</p>
              <ul>
                <li>整合外部市場數據與內部商品上架系統,提升上架商品精準度與價格競爭力 並簡化挑品與定價決策流程</li>
                <li>主導專案導入、任務時程掌控、與協調內部需求方(業務、行銷)、技術方(資訊、營運)與外部服務供應商</li>             
              </ul>
            </ol>
          </div>
          <!-- work item -->
          <div class="work-item">
            <h3>資深網路行銷專員</h3>
            <h4>
              <a href="https://www.kingston.com" target="_blank"><b>Kingston</b></a>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>竹北市
                <i class="fa fa-calendar px-xs-5"></i>12/2013 - 2/2014
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>竹北市
                <i class="fa fa-calendar px-sm-5"></i>12/2013 - 2/2014
              </div>
            </h4>
            <ol>
              <li>中英語系官方社群媒體經營管理,規劃、A/B 測試與優化溝通產品及活動訊息圖文素材</li>
              <li>流量與族群分析,強化社群互動經營策略</li>
              <li>規劃媒體、部落客、電競隊伍等贊助及活動串聯,導入目標族群粉絲</li>
            </ol>
          </div>
          <!-- work item -->
          <div class="work-item">
            <h3>資深行銷專員</h3>
            <h4>
              <a href="http://www.avermedia.com/" target="_blank"><b>AVerMedia</b></a>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>新北市
                <i class="fa fa-calendar px-xs-5"></i>3/2013 - 10/2013
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>新北市
                <i class="fa fa-calendar px-sm-5"></i>3/2013 - 10/2013
              </div>
            </h4>
            <ol>
              <li>搜尋引擎行銷</li>
              <p class="mb-xs-5"><b>#=></b> 網站月訪客量成長約 50%</p>
              <ul>
                <li>操作投放於美國及加拿大市場關鍵字廣告。關鍵字搜尋、文案撰寫、成果分析與最佳化</li>
              </ul>
              <li>搜尋引擎最佳化</li>
              <p class="mb-xs-5"><b>#=></b> 任職前後六個月訪客量增加約 55 萬</p>
              <ul>
                <li>網站排名優化規劃。負責 Google Analytics 流量分析、關鍵字搜尋並更新網頁內文、與網路媒體合作增加導入鏈結</li>
              </ul>
              <li>社群行銷</li>
              <p class="mb-xs-5"><b>#=></b> 四個月內 Facebook 與 Twitter 人數分別成長約 4 萬與 6 千(+100%)</p>
              <ul>
                <li>官方社群媒體經營管理、企劃執行與歐美 YouTubers 合作專案,跨平台針對目標族群增加產品聲量與銷售</li>
              </ul>
              <li>活動籌辦</li>
                <ul>
                  <li>網路:規劃贊助或主辦大型電競直播活動</li>
                  <li>現場:與相關產業廠商合辦現場活動(如 Electronic Arts)</li>
                  <li>行銷物規畫製作(PR、banner、EDM 等)</li>
                </ul>
              <li>電子商務</li>
              <p class="mb-xs-5"><b>#=></b> 企劃與執行 15 次產品促銷活動,最高業績達 1200%</p>
              <ul>
                <li>結合網路行銷企劃商品促銷活動</li>
                <li>製作、更新與維護產品頁面內容</li>
                <li>後勤管理與預測銷售</li>
              </ul>
              <li>成效分析</li>
              <ul>
                <li>定期 Google Analytics、Google AdWords 報告與分析</li>
                <li>行銷活動結案報告(個別)、迴歸分析(綜合)</li>
                <li>市場競爭分析</li>
              </ul>
            </ol>
          </div>
          <!-- work item -->
          <div class="work-item">
            <h3>Project/ Marketing Specialist</h3>
              <h4>
                <b>ITE Pacific</b>
                <div class="visible-xs-block mt-xs-10">
                  <i class="fa fa-location-arrow pr-xs-5"></i>Missouri, USA
                  <i class="fa fa-calendar px-xs-5"></i>5/2011 - 11/2012
                </div>
                <div class="hidden-xs inline">
                  <i class="fa fa-location-arrow px-sm-5"></i>Missouri, USA
                  <i class="fa fa-calendar px-sm-5"></i>5/2011 - 11/2012
                </div>
              </h4>
            <ol>
              <li>行銷企劃：依產業性質不同(B2B 或 B2C),為客戶製訂與執行在美國或亞洲市場的行銷計畫</li>
              <li>分析預測：運用線上資料庫及相關應用程式,量化分析與預測個案商業發展潛力</li>
              <li>專案管理：最多同時協調管理 5 項不同商業策略與目標專案,並進行資源管理、排程、執行與追蹤</li>
              <li>流程改善：自編內部用專案管理作業平台,提升工作團隊生產與時間效率達 40%以上</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- education -->
      <div class="row">
        <div class="px-xs-15">
          <h2 class="pb-xs-5">學歷</h2>
          <div class="col-xs-12 col-sm-6">
            <h3>University of Missouri – Columbia</h3>
            <p class="mb-xs-5">科&nbsp&nbsp&nbsp&nbsp系：&nbsp&nbspMBA - 主修行銷</p>
            <p class="mb-xs-5">學&nbsp&nbsp&nbsp&nbsp歷：&nbsp&nbsp碩士</p>
            <p class="mb-xs-5">期&nbsp&nbsp&nbsp&nbsp間：&nbsp&nbsp2010/10 – 2012/05</p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h3>國立臺南大學</h3>
            <p class="mb-xs-5">科&nbsp&nbsp&nbsp&nbsp系：&nbsp&nbsp社會科教育學系</p>
            <p class="mb-xs-5">學&nbsp&nbsp&nbsp&nbsp歷：&nbsp&nbsp學士</p>
            <p class="mb-xs-5">期&nbsp&nbsp&nbsp&nbsp間：&nbsp&nbsp2003/08 – 2007/06</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-xs-20 pb-sm-40">
    <div class="container">
      <div class="text-center">
        <%= link_to '作  品', portfolios_path, class: 'btn btn-default form-control' %>
      </div>
    </div>
  </section>
</div>


