<div id="resume">
  
  <section class="banner" style="height: 100vh;">
    
    <div class="text-center resume-index-wrapper">
      <%= link_to resume_en_path do %>
      <div class="col-xs-6 px-xs-0" style="border-right: 1px solid #fff">
        <h2 class="my-xs-0" style="line-height: 100vh;">ＥＮ</h2>
      </div>
      <% end %>
      <%= link_to resume_zh_path do %>
      <div class="col-xs-6 px-xs-0">
        <h2 class="my-xs-0" style="line-height: 100vh;">中文</h2>
      </div>
      <% end %>
    </div>
  </section>

</div>