<div id="resume">
  
  <section class="banner">
    <div class="div-ver-center text-center">
      <a href="/attachments/resume_en.pdf" target="_blank" class="btn btn-white">Download Resume</a>
    </div>
  </section>

  <section class="py-xs-20 py-sm-40">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h2 class="mt-sm-0">PROFILE</h2>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p>6+ years professional experience in digital marketing, project management and international sales across ecommerce, consumer electronics, and electronics manufacturing</p>
          <p>Expanding web application skills primarily in backend development with Rails</p>
          <p>Analytical, result oriented, and self-motivated</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h2 class="mt-sm-0">EXPERTISE & TECH</h2>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3 class="mt-sm-0">Expertise</h3>
          <ul>
            <li>Digital Advertising</li>
            <li>Search Engine Optimization</li>
            <li>Social Media Marketing</li>
            <li>Data Analysis</li>
            <li>Product Marketing</li>
            <li>Affiliate Marketing</li>
            <li>Web Development (<b>in progress</b>)</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3 class="mt-sm-0">Tech</h3>
          <ul>
            <li>HTML / CSS</li>
            <li>Ruby / Rails</li>
            <li>JavaScript</li>
            <li>Google Analytics</li>
            <li>Google AdWords</li>
            <li>Microsoft Office</li>
            <li>Adobe Photoshop</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h2 class="mt-sm-0">WORK EXPERIENCE</h2>
        </div>
        <div class="col-xs-12 col-sm-8 work-list">
          <div class="work-item mb-xs-20">
            <h3 class="mt-sm-0">Marketing Manager</h3>
            <h4>
              <b>Nourii</b>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-xs-5"></i>3/2016 to present
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-sm-5"></i>3/2016 to present
              </div>
            </h4>
            <ul>
              <li>Lead brand website development, including both frontend and backend</li>
              <li>Develop web pages using HTML, CSS, JavaScript, and frameworks/libraries such as bootstrap and jQuery.</li>
              <li>Conduct Search Engine Optimization with keyword and backlink implementation and traffic analysis</li>
              <li>Execute social media marketing with joined effort of affiliates and blog marketing to enhance search engine foot prints and product sale</li>
              <li>Oversee product marketing covering from multimedia marketing material, copywriting, to package design</li>
            </ul>
          </div>
          <div class="work-item mb-xs-20">
            <h3 class="mt-sm-0">Senior Digital Media Planner</h3>
            <h4>
              <b>PayEasy</b>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-xs-5"></i>6/2014 - 3/2016
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-sm-5"></i>6/2014 - 3/2016
              </div>
            </h4>
            <ul>
              <li>Integrated digital media including keyword advertising, retargeting, and real-time bidding and optimize the campaigns. Revenue and ROI increased by 44% and 78% respectively, while cost reduction of 19%</li>
              <li>Conducted affiliate marketing programs with major local deal sites and mobile applications, generating ROI up to 27.56</li>
              <li>Led a project to implement consumer behavior and product pricing data to systematically monitor the market trend and competition</li>
              <li>Performed website traffic analysis using Google Analytics and A/B testing to increase number of visit by up to 297.47%</li>
            </ul>
          </div>
          <div class="work-item mb-xs-20">
            <h3 class="mt-sm-0">Senior Marketing Specialist</h3>
            <h4>
              <b>Kingston</b>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>Hsinchu City, Taiwan
                <i class="fa fa-calendar px-xs-5"></i>12/2013 - 2/2014
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>Hsinchu City, Taiwan
                <i class="fa fa-calendar px-sm-5"></i>12/2013 - 2/2014
              </div>
            </h4>
            <ul>
              <li>Managed bilingual official Facebook fan pages, increased the number of fans and improved the demographics</li>
              <li>Created communication materials and monitored benchmarks for measuring impact of the programs using analytics</li>
              <li>Organized sponsorship programs with partners from various fields to increase brand and product awareness</li>
            </ul>
          </div>
          <div class="work-item mb-xs-20">
            <h3 class="mt-sm-0">Advanced Marketing Specialist</h3>
            <h4>
              <b>AVerMedia</b>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-xs-5"></i>3/2013 - 10/2013
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>Taipei City, Taiwan
                <i class="fa fa-calendar px-sm-5"></i>3/2013 - 10/2013
              </div>
            </h4>
            <ul>
              <li>Created and optimized Google PPC campaigns. Website traffic increased by 550 thousand (50%) within 6 months</li>
              <li>Implemented social media marketing programs, increasing Facebook and Twitter followers by 200% within 6 Months</li>
              <li>Coordinated online and onsite events and worked with cross-functional internal/external teams, such as Electronic Arts</li>
              <li>Facilitated 15 E-commerce promotions on Amazon.com, generating monthly revenue by up to 1200%; managed SKU product detail pages, and conducted inventory replenishment and forecasting</li>
              <li>Consolidated and analyzed marketing and sale data by regression analysis, and generated competition and SEM reports on a regular basis to timely adjust and improve marketing strategy</li>
            </ul>
          </div>
          <div class="work-item mb-xs-20">
            <h3 class="mt-sm-0">Project/ Marketing Specialist</h3>
            <h4>
              <b>ITE Pacific</b>
              <div class="visible-xs-block mt-xs-10">
                <i class="fa fa-location-arrow pr-xs-5"></i>Missouri, USA
                <i class="fa fa-calendar px-xs-5"></i>5/2011 - 11/2012
              </div>
              <div class="hidden-xs inline">
                <i class="fa fa-location-arrow px-sm-5"></i>Missouri, USA
                <i class="fa fa-calendar px-sm-5"></i>5/2011 - 11/2012
              </div>
            </h4>
            <ul>
              <li>Developed B2B and B2C marketing programs across industries between USA and Asian markets</li>
              <li>Coordinated management of multiple projects directed toward strategic business objectives</li>
              <li>Built credibility and maintain communication with stakeholders at multiple levels</li>
              <li>Applied MS Project Professional with Excel for the project team to reduce time spent by 40%</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h2 class="mt-sm-0">Education</h2>
        </div>
        <div class="col-xs-12 col-sm-8">
          <p>University of Missouri (2012) Columbia, Missouri</p>
          <p>Master of Business Administration, emphasis in Marketing</p>
        </div>
      </div>
    </div>    
  </section>
</div>

