body {
	position: relative;
	padding-bottom: 50px;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	width: 100%;
}
pre {
	font-size: 1.6rem;
}

p {
	font-size: 1.7rem;
	line-height: 1.6;
	color: #666;
}
@media only screen and (min-width: 768px){
p {
	font-size: 2.3rem;
	margin-bottom: 20px;
}
}

a,
span {
	color: #777;
}

a:hover {
	color: #555;
}
pre {
	border-radius: 0px;
}
p > code {
	color: #444;
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #DDE4E6;
	box-shadow: 1px 1px 0 #fff, 2px 2px 0 #DDE4E6;
}

.clear {
    clear: both;
}
.overflow-auto {
	overflow: auto;
}

.flat {
	border-radius: 0;
}

.navbar a {
	font-size: 2rem;
}
@media only screen and (min-width: 768px){
.main-content-wrapper {
	padding-top: 71px
}
}
.article-banner {
	position:relative; 
	height: 50vh;
	overflow: hidden;
	background-position: center;
	background-attachment: fixed;
}
.article-banner > .header {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
@media only screen and (min-width: 768px){
.article-banner > .header {
	left: 50%;
	transform: translate(-50%, -50%);
}
}

footer {
	position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

footer span {
	color: #777;
	line-height: 50px;
}
.pos-rel{
	position: relative;
}
.div-ver-center {
	transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
    position: absolute;
    width: 100%;
}
.btn-white {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 0;
	font-size: 2rem
}
.btn-white:hover {
	background-color: #fff;
	color: #777;
}

.inline {
	display: inline;
}

.block {
	display: block;
}
/* home */
.article-list {
	padding: 0;
	margin: 0;
}
.article-list > li {
	border-bottom: 1px solid #e7e7e7;
}
.article-list-item h3 {
	margin: 0;
}

.article-list-item h3,
.article-list-item span {
	vertical-align: middle;
    line-height: 40px;	
}

/* articles#show */
#article h1 {
	line-height: 1.5;
}

/* home */
.profile-pic {
    border-radius: 50%;
}
#profile .form-control {
	height: unset;
}

@media only screen and (max-width: 767px){
#profile .portfolio-item a {
	width: 100%;
}
}

.summary-wrapper{
    border-top: 1px solid #e7e7e7;
}

/* resume */

.resume-index-wrapper > a {
	color: #fff
}

.resume-index-wrapper > a > div:hover,
#resume .banner > a > div:hover {
	background-color: rgba(255,255,255,.5);
}

#resume .banner {
	background: url('/images/resume/dev.jpg') bottom / cover;
	height: 40vh;
	position: relative;
}

#resume .banner a {
	color: #fff;
}

#resume .row {
	padding: 20px 0;
}

#resume.resume_en .row:not(:last-child) {
	border-bottom: 1px solid #04900f;
}

#resume ul,
#resume ol {
	margin-bottom: 20px;
	-webkit-padding-start: 25px;
	-moz-padding-start: 25px;
}

#resume li {
	font-size: 2rem;
	color: #666;
}

#resume.resume-en a:not(:first-child),
#resume.resume-zh a:not(:first-child) {
	color: inherit;
}

.work-item:not(:last-child) {
	border-bottom: 1px solid #e8e8e8;
}

.resume_zh h2 {
	border-bottom: 1px solid #04900f;
}

.resume_zh .work-item p {
	font-size: 2rem;
}

@media only screen and (min-width: 768px){
.work-list {
	height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
}

/* portfolios */
#portfolios p {
	line-height: 1.2;
}
@media only screen and (max-width: 767px){
#portfolios a {
	width: 100%;
}
}