<%= form_tag path, method: :get, class: "mt-xs-20" do %>
  <div class="input-group">
    <%= text_field_tag :query, params[:query], class: "form-control"%>
    <span class="input-group-btn">
      <%= button_tag '', name: nil, class: "btn btn-default" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </span> 
  </div>
<% end %>